    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About WiFiKeyShare</h2>
              <br/>
                <p>WiFiKeyShare is an Android application that lets you generate QR codes or NFC tags containing a Wi-Fi configuration (including its password).</p>
                <p>This app is free software and is distributed under the GPLv3 licese.</p>
                <p>The source code is on GitHub (<a href="https://github.com/bparmentier/WiFiKeyShare">bparmentier/WiFiKeyShare</a>).<br />
                    Contributions, <a href="https://github.com/bparmentier/WiFiKeyShare/issues">bug reports</a> and <a href="bitcoin:168utA5DWMVXLFVfQDahG5abEWUSk9Wcfm">donations</a> are always welcome.</p>
                <br/>
              </div>
        </div>
    </section>
